* {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
.navbar{
  height: 60px;
  background-color: #036811;
  color: white ;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* Box1 */
.logo-section{
  display:flex;
  align-items: center;
  cursor: pointer;
}
.logo-img{
  height:40px;
  width:100px;
  background-image: url("Amazon-logo.jpg");
  background-size: cover;
  margin-right:10px;
}
.border:hover{
  border: 2px solid white;
}
/* Box2 */
.add-1st{
  font-size:0.8rem;
  color:white;
  margin-left: 10px;
}

.add-2nd{
  margin-left:3px;
  font-size: 1rem;
}

.add-icon{
  display:flex;
  align-items: center;
}

/* box3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width:620px;
  background-color: rgb(235, 124, 21);
  height: 40px;
  border-radius: 4px;
}

.search-select{
  background-color: #f3f3f3;
  width:50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border:none;
}

.nav-search:hover{
  border:2px solid #df2eaa;
}

.search-input{
  width:100%;
  font-size: 1rem;
  border: none;
}

.search-icon{
  width: 40px;
  height: 40px;
  background-color: #a00d83;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color:#0f1111}

/* box4 */
.span{
  font-size: 0.7rem;
}

.nav-second{
  font-size: 0.85rem;
  font-weight: bold;
}

/* box5 */
.nav-cart i {
  font-size: 30px;
}
.nav-cart{
  font-size: 0.85 rem;
  font-weight: bold;
}
/* panel */
.panel{
  height:40px;
  background-color: #034a06;
  color: white ;
  display:flex;
  align-items:start;
  align-items: center;
  
}

.panel-options p {
  display: inline ;
  align-items: center;
  margin-left:10px;
}

.panel-options{
  width: 70%;
  font-size:1rem;

}

.panel-options :hover{
  border: 2px solid white;
}

/* .panel-deals{
  font-weight: 0.9rem;
  font-weight: 700;
} */

/* hero-section */

.hero-section{
  background-image: url("image.png");
  background-size: cover;
  height: 380px;
  display:flex;
  justify-content: center;
  align-items: flex-end;

}

.hero-msg{
  background-color: white;
  color:black;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:0.85 rem;
  width:95%;
  margin-bottom:25px;
}

.hero-msg a{
  color:#007185
}

/* shop-section */

.shop-section{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box{
  height:400px;
  width:23%;
  /* border: 2px solid black ; */
  background-color: white;
  padding: 20px 0px 15px;
  margin-top:15px;

}

.box-img{
  height:300px;
  background-size:cover;
  margin-top:1rem;
  margin-bottom:1rem ;
  
}

.box-content{
  margin-left:10px;
  margin-right: 10px;

}

.box-content p{
  color:#007185
}

/* footer */

footer{
  margin-top:15px;
}
.foot-panel1{
  background-color: #37475a;
  color: white ;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:0.85rem;
}


.foot-panel2{
  background-color: #222f3d;
  color: white ;
  height:400px;
  display:flex;
  justify-content: space-evenly;
  
}

ul{
  margin-top:35px;
}

ul a{
  display: block;
  font-size:0.85rem;
  margin-top:10px;
  color:#dddddd;
}

.foot-panel3{
  background-color:#222f3d;
  color: white ;
  border-top:0.5px solid white;
  height:70px;
  display:flex;
  justify-content: center;
  align-items: center;


}

.logo{
  background-image: url("Amazon-logo.jpg");
  background-size: cover;
  height:50px;
  width:100px;

}

.foot-panel4{
  background-color:#0f1111;
  color: white ;
  height:40px;
  /* display:flex;
  justify-content: center;
  align-items: center; */
  font-size:0.7rem;
  text-align:center;

}

.foot-pages{
  padding-top:10px;
}

.copyrights{
  padding-top:3px;
}
.foot-pages a{
  color:#dddddd;
  margin:0 5px;
}
.foot-pages a:hover{
  text-decoration: underline;
}
.foot-panel4 a{
  color:#dddddd;
}
.foot-panel4 a:hover{
  text-decoration: underline;
}
/* Responsive */
@media only screen and (max-width: 768px) {
  .shop-section{
    flex-direction: column;
    align-items: center;
  }
  .box{
    width:90%;
  }
  .nav-search{
    width:400px;
  }
}
@media only screen and (max-width: 480px) {
  .nav-search{
    width:250px;
  }
}


